<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<div class="container header-wrapper">
			<% include ../partials/header %>
			<% include ../partials/accountLogIn %>
		</div>
	</header>
	


	<main id="pet-details">
	<a href="/pets"><button class="btn btn-primary">Back</button></a><br><br>
	  
	<img src="<%= img %>">
	 <p><span class="detail-label">ID: </span> <%= petId %> </p>
	  <p><span class="detail-label">Name: </span> <%= name %> </p>
	  <p><span class="detail-label">Type: </span><%= type %> </p>
	  <p><span class="detail-label">Breed: </span><%= breed %> </p>
	  <p><span class="detail-label">Age: </span><%= age %> </p>
	  <p><span class="detail-label">Sex: </span><%= sex %> </p>
	  <p><span class="detail-label">Weight: </span><%= weight %> </p>
	  <p><span class="detail-label">Color: </span><%= color %> </p>
	  <p><span class="detail-label">Introduction: </span><%= bio %> </p>
	</main>
	 
	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>